.JobList {
  list-style: none;
  padding: 0;
}

.JobListItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 4px;
}

.JobListItemInfo {
  margin-inline-end: 4px;
  text-align: left;
}

.JobListItemActions {
  white-space: nowrap;
}
