.LoadingBar {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.JobList {
  list-style: none;
  padding: 0;
}

.JobList a {
  background: #222d3d;
  border: 1px solid #374963;
  color: #3391ff;
  display: block;
  margin: 4px;
  padding: 4px;
  text-decoration: none;
}
