.LoadingBar {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.JobList {
  list-style: none;
  padding: 0;
}

.JobListItem {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4px;
}

.JobList a {
  color: #3391ff;
  padding: 4px;
  text-decoration: none;
}
