.App {
  background-color: #0d1117;
  color: #e8e6e3de;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  text-align: center;
}

.App h1 {
  margin: 0;
}

.LoadingBar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
